In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]


mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

mycol.insert_many(mylist)

myquery = {"address":"Valley 345"}
newval = {"$set":{"address":"Kolkata c/12"}}

mycol.update_one(myquery,newval)

for x in mycol.find():

    print(x)

{'_id': ObjectId('6628a3b08174db349c0cda88'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6628a3b08174db349c0cda89'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6628a3b08174db349c0cda8a'), 'name': 'Michael', 'address': 'Kolkata c/12'}
{'_id': ObjectId('6628a3b08174db349c0cda8b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6628a3b08174db349c0cda8c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6628a3b08174db349c0cda8d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6628a3b08174db349c0cda8e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6628a3b08174db349c0cda8f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6628a3b08174db349c0cda90'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6628a3b08174db349c0cda91'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6628a3b08174db349c0cda92'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6628a3b08174db349c0cda93'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6628a3c68174db349c0cda95'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6628a3c68174db349c0cda96'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6628a3c68174db349c0cda97'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6628a3c68174db349c0cda98'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6628a3c68174db349c0cda99'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6628a3c68174db349c0cda9a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6628a3c68174db349c0cda9b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6628a3c68174db349c0cda9c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6628a3c68174db349c0cda9d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6628a3c68174db349c0cda9e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6628a3c68174db349c0cda9f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6628a3c68174db349c0cdaa0'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [5]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address":{"$regex":"^S"}}

newval = {"$set":{"address":"Kolkata"}}

mycol.update_many(myquery,newval)

for x in mycol.find():

    print(x)

{'_id': ObjectId('6628a3b08174db349c0cda88'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6628a3b08174db349c0cda89'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6628a3b08174db349c0cda8a'), 'name': 'Michael', 'address': 'Kolkata c/12'}
{'_id': ObjectId('6628a3b08174db349c0cda8b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6628a3b08174db349c0cda8c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6628a3b08174db349c0cda8d'), 'name': 'Richard', 'address': 'Kolkata'}
{'_id': ObjectId('6628a3b08174db349c0cda8e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6628a3b08174db349c0cda8f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6628a3b08174db349c0cda90'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6628a3b08174db349c0cda91'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6628a3b08174db349c0cda92'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6628a3b08174db349c0cda93'), 'name': 'Viola', 'address': 'Kolkata'}
{'_id': ObjectId('6628a3c68174db349c0cda95'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6628a3c68174db349c0cda96'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6628a3c68174db349c0cda97'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6628a3c68174db349c0cda98'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6628a3c68174db349c0cda99'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6628a3c68174db349c0cda9a'), 'name': 'Richard', 'address': 'Kolkata'}
{'_id': ObjectId('6628a3c68174db349c0cda9b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6628a3c68174db349c0cda9c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6628a3c68174db349c0cda9d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6628a3c68174db349c0cda9e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6628a3c68174db349c0cda9f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6628a3c68174db349c0cdaa0'), 'name': 'Viola', 'address': 'Kolkata'}

In [6]:
import pymongo 

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

# use case of limit to return as much user needed 
myresult =  mycol.find().limit(5);

for x in myresult:

    print(x)

{'_id': ObjectId('6628a3b08174db349c0cda88'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6628a3b08174db349c0cda89'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6628a3b08174db349c0cda8a'), 'name': 'Michael', 'address': 'Kolkata c/12'}
{'_id': ObjectId('6628a3b08174db349c0cda8b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6628a3b08174db349c0cda8c'), 'name': 'Betty', 'address': 'Green Grass 1'}