In [1]:
import pymongo 

myclient  = pymongo.MongoClient("mongodb://localhost:27017/")
mydb =  myclient["mydatabase"]

mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x= mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('6627fb3fb6c9524373867fbe'), ObjectId('6627fb3fb6c9524373867fbf'), ObjectId('6627fb3fb6c9524373867fc0'), ObjectId('6627fb3fb6c9524373867fc1'), ObjectId('6627fb3fb6c9524373867fc2'), ObjectId('6627fb3fb6c9524373867fc3'), ObjectId('6627fb3fb6c9524373867fc4'), ObjectId('6627fb3fb6c9524373867fc5'), ObjectId('6627fb3fb6c9524373867fc6'), ObjectId('6627fb3fb6c9524373867fc7'), ObjectId('6627fb3fb6c9524373867fc8'), ObjectId('6627fb3fb6c9524373867fc9')]

In [3]:
import pymongo

myclient  = pymongo.MongoClient("mongodb://localhost:27017/")
mydb =  myclient["mydatabase"]

mycol = mydb["customers"]

x= mycol.find_one()

print(x)

for x in mycol.find():

    print(x)

{'_id': ObjectId('6627f922551f8c00d34e0993'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f922551f8c00d34e0993'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f945551f8c00d34e0995'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f94f551f8c00d34e0997'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f960551f8c00d34e0999'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9b0551f8c00d34e099b'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9df551f8c00d34e099d'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9df551f8c00d34e099e'), 'name': 'Shreysoshi', 'age': 20}
{'_id': ObjectId('6627fb3fb6c9524373867fbe'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6627fb3fb6c9524373867fbf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fb3fb6c9524373867fc0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fb3fb6c9524373867fc1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627fb3fb6c9524373867fc2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fb3fb6c9524373867fc3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fb3fb6c9524373867fc4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627fb3fb6c9524373867fc5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fb3fb6c9524373867fc6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fb3fb6c9524373867fc7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6627fb3fb6c9524373867fc8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fb3fb6c9524373867fc9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [4]:
import pymongo 

myclient  = pymongo.MongoClient("mongodb://localhost:27017/")
mydb =  myclient["mydatabase"]

mycol = mydb["customers"]

# excluding address
for x in mycol.find({},{"address":0}):

    print(x)

{'_id': ObjectId('6627f922551f8c00d34e0993'), 'name': 'Subham'}
{'_id': ObjectId('6627f945551f8c00d34e0995'), 'name': 'Subham'}
{'_id': ObjectId('6627f94f551f8c00d34e0997'), 'name': 'Subham'}
{'_id': ObjectId('6627f960551f8c00d34e0999'), 'name': 'Subham'}
{'_id': ObjectId('6627f9b0551f8c00d34e099b'), 'name': 'Subham'}
{'_id': ObjectId('6627f9df551f8c00d34e099d'), 'name': 'Subham'}
{'_id': ObjectId('6627f9df551f8c00d34e099e'), 'name': 'Shreysoshi', 'age': 20}
{'_id': ObjectId('6627fb3fb6c9524373867fbe'), 'name': 'Amy'}
{'_id': ObjectId('6627fb3fb6c9524373867fbf'), 'name': 'Hannah'}
{'_id': ObjectId('6627fb3fb6c9524373867fc0'), 'name': 'Michael'}
{'_id': ObjectId('6627fb3fb6c9524373867fc1'), 'name': 'Sandy'}
{'_id': ObjectId('6627fb3fb6c9524373867fc2'), 'name': 'Betty'}
{'_id': ObjectId('6627fb3fb6c9524373867fc3'), 'name': 'Richard'}
{'_id': ObjectId('6627fb3fb6c9524373867fc4'), 'name': 'Susan'}
{'_id': ObjectId('6627fb3fb6c9524373867fc5'), 'name': 'Vicky'}
{'_id': ObjectId('6627fb3fb6c9524373867fc6'), 'name': 'Ben'}
{'_id': ObjectId('6627fb3fb6c9524373867fc7'), 'name': 'William'}
{'_id': ObjectId('6627fb3fb6c9524373867fc8'), 'name': 'Chuck'}
{'_id': ObjectId('6627fb3fb6c9524373867fc9'), 'name': 'Viola'}