In [1]:
import pymongo

myclient  = pymongo.MongoClient("mongodb://localhost:27017/")
mydb =  myclient["mydatabase"]

mycol = mydb["customers"]

# sorting in mongodb by name in ascending order 

mydoc = mycol.find().sort("name")

for x in mydoc:

    print(x)

{'_id': ObjectId('6627fb3fb6c9524373867fbe'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6627fb3fb6c9524373867fc6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fb3fb6c9524373867fc2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fb3fb6c9524373867fc8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fb3fb6c9524373867fbf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fb3fb6c9524373867fc0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fb3fb6c9524373867fc3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fb3fb6c9524373867fc1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627f9df551f8c00d34e099e'), 'name': 'Shreysoshi', 'age': 20}
{'_id': ObjectId('6627f922551f8c00d34e0993'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f945551f8c00d34e0995'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f94f551f8c00d34e0997'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f960551f8c00d34e0999'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9b0551f8c00d34e099b'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9df551f8c00d34e099d'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627fb3fb6c9524373867fc4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627fb3fb6c9524373867fc5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fb3fb6c9524373867fc9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6627fb3fb6c9524373867fc7'), 'name': 'William', 'address': 'Central st 954'}

In [2]:
import pymongo

myclient  = pymongo.MongoClient("mongodb://localhost:27017/")
mydb =  myclient["mydatabase"]

mycol = mydb["customers"]

# sorting name in descending order

mydoc = mycol.find().sort("name",-1)

for x in mydoc:
     
     print(x)

{'_id': ObjectId('6627fb3fb6c9524373867fc7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6627fb3fb6c9524373867fc9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6627fb3fb6c9524373867fc5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fb3fb6c9524373867fc4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627f922551f8c00d34e0993'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f945551f8c00d34e0995'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f94f551f8c00d34e0997'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f960551f8c00d34e0999'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9b0551f8c00d34e099b'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9df551f8c00d34e099d'), 'name': 'Subham', 'address': 'Kolkata'}
{'_id': ObjectId('6627f9df551f8c00d34e099e'), 'name': 'Shreysoshi', 'age': 20}
{'_id': ObjectId('6627fb3fb6c9524373867fc1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627fb3fb6c9524373867fc3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fb3fb6c9524373867fc0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fb3fb6c9524373867fbf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fb3fb6c9524373867fc8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fb3fb6c9524373867fc2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fb3fb6c9524373867fc6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fb3fb6c9524373867fbe'), 'name': 'Amy', 'address': 'Apple st 652'}